apiVersion: v1
kind: Service
metadata:
  labels:
    app: webinar-db
    release: webinar
  name: webinar-db
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: http
  - name: management
    port: 8081
    protocol: TCP
    targetPort: management
  selector:
    app: webinar-db
  type: ClusterIP
